<%= form_for @item do |item| %>
  
  <div class="text">
    Name:<%= item.text_field :title %>
  </div>
  
  <div class="text">
    Description:<%= item.text_area :description %>
  </div>
  
  <div class="text">
   Price<%= item.text_field :price %>
  </div>
  
  <div class="button">
    Category:<%= item.select :category_id, options_from_collection_for_select(Category.all, :id, :category_name) %>
  </div>

  <div class="button">
    <%= item.submit 'Create Item' %>
  </div>
  
<% end %>
